 
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.App{
  width: 100%;
  height: 100vh;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
width: 100vw;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 0;
gap: 20px;
}
.title{
  display: flex;
  flex-direction:column;
}
.container__logo{
display: flex;
justify-content: center;
align-items: center;
}
.logo{
  height: 80px;
  width: 80px;
}
.contenedor{
  width: 100%;
  height: 15px;
  background-color: transparent;
}
.contenedor-calculadora{
  width: 350px;
  height: 480px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(15, 76, 138);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 5px solid white;

}


h1{
  color: #fff;
font-family: sans-serif ;
font-size: 30px;
font-weight: bold;
}


.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media (max-width: 576px) {
  .logo {
    height: 60px;
    width: 60px;
  }
  h1 {
    font-size: 25px;
  }

  .contenedor-calculadora {
    width: 280px;
    height: 410px;
  }

}




















